$justified-container-item-font-size: 12px !default;

$two-column-layout-right-column-width: 200px !default;
$two-column-layout-right-column-background: none !default;
$two-column-layout-left-column-background: none !default;
$two-column-layout-space-between-columns: 50px !default;
