$justified-container-item-font-size: 12px !default;

$right-menu-liquid-layout-right-column-width: 200px !default;
$right-menu-liquid-layout-right-column-background: none !default;
$right-menu-liquid-layout-left-column-background: none !default;
$right-menu-liquid-layout-space-between-columns: 50px !default;
